.form_header{
    position: sticky;
    margin: 0px 10px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    height: 47px;
}

.header_info{
    display: flex;
    align-items: center;
}

.form_name{
    border: none;
    outline: none;
    color : #202124;
    font-size: 18px;
    padding-left: 5px;
}

.header_right{
    display: flex;
    align-items: center;
}

